<div class="newska_title">
  <%= newska.title %>
</div>
<% if current_user == newska.user %>
  <%= link_to 'del', delete_news_path(newska), class: 'delete_news btn', confirm: 'Are you sure?' %>
  <%= link_to 'edit', edit_news_path(newska), class: 'edit_news btn' %>
<% end %>
<div class="newska_content">
  <%= truncate newska.content, length: 100 %>
</div>
<a class="show_newska">Read more</a>
<span class="votes">
  <%= pluralize newska.reputation_for(:votes).to_i, 'vote' %>
  <% if current_user %>
    <% ['up', 'down'].each do |type| %>
      | <%= link_to type, vote_news_path(newska, type: type), class: 'vote' %>
    <% end %>
  <% end %>
</span>
