<span class="show_newska"><%= newska.title %></span>
<%= truncate newska.content %>
<%= newska.reputation_for(:votes).to_i %>
<% if current_user %>
  <% ['up', 'down'].each do |type| %>
    <%= link_to type, vote_news_path(newska, type: type), class: 'vote' %>
  <% end %>
<% end %>
<% if current_user == newska.user %>
  <%= link_to 'edit', edit_news_path(newska), class: 'edit_news btn' %>
  <%= link_to 'del', delete_news_path(newska), class: 'delete_news btn' %>
<% end %>
