<!DOCTYPE html>
<html>
<head>
  <title>News</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:alert] %>
  <%= content_tag :div, flash[:alert], class: 'alert alert-success' %>
<% end %>
<% if flash[:error] %>
  <%= content_tag :div, flash[:error], class: 'alert alert-error' %>
<% end %>

<%= yield %>

</body>
</html>
